.back-img-style {
    margin-top: "50px";
    width: "50%";
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg");
    background-position: "center";
    background-size: "cover";
    background-color: rgb(22, 22, 22);
}
.contact-img {
    width: 100%;
    border-radius: 7px;
}
