.body-style{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    position: relative;
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}
.btn-style{
    padding-top: 5px;
    background-color: rgb(62, 91, 255);
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}
.btn-style:hover{
    padding-top: 5px;
    background-color: white;
    color:rgb(15, 8, 8);
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}