.banner-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(22, 22, 22);
}

.banner-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

.banner-img {
    width: 100%;
}
.img-container {
    background-color: rgb(48, 46, 46);
    border-radius: 50%;
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.text-color {
    color: #ff3838;
    font-weight: 700 !important;
    font-family: "PT Sans", sans-serif !important;
    font-family: var(--PTSans) !important;
    background: -webkit-linear-gradient(rgb(255, 28, 134), #ff7070);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
