.banner-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(22, 22, 22);
}

.banner-section {
    display: flex;
    justify-content: start;
    align-items: center;
}

.banner-img {
    width: 100%;
}
.img-container {
    background-image: linear-gradient(40deg, #ffc760 0%, #ff436f 50%, #e33de9 100%);
    border-radius: 50%;
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.text-color {
    color: #fc00ff;
    font-weight: 700 !important;
    font-family: "PT Sans", sans-serif !important;
    font-family: var(--PTSans) !important;
    background-image: linear-gradient(40deg, #ffb937, #ff2209, #c4045d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
